@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #6366f2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#container {
    background-color: #f0f8ff;
    width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.tab-buttons {
    display: flex;
    gap: 6px;
}

.tab-btn {
    width: 100%;
    border: none;
    color: #020617;
    background-color: #f0f8ff;
    border-radius: 8px 8px 0px 0px;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.tab-btn.active {
    background-color: #c7d2fe;
}

.tab-btn:hover {
    background-color: #a5b4fc;
}

.content {
    display: none;
}

.content.show {
    display: flex;
    gap: 14px;
    background-color: #c7d2fe;
    border-radius: 0px 0px 8px 8px;
    padding: 16px;
}

.content-img {
    width: 50%;
    height: 250px;
}